<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LPI4Noobs</title>

    <script src="htmx.min.js"></script>
    <link rel="stylesheet" href="bundle.css"/>
  </head>
  <body class="text-light bg-dark">
    <header class="w-full">
      <img class="mt-4 md:mt-0 w-full" src="img/header_4noobs.svg" alt="banner">
      <p classs="mx-auto mt-12 w-10/12 text-5xl font-bold text-center">LPI4Noobs Interactive</p>
    </header>
    <div class="flex flex-col px-4 mx-auto mt-4 space-y-4 max-w-lg">
      <a class="px-4 py-2 rounded-md border-2 text-dark bg-light border-light hover:bg-dark hover:text-light" href="/session">
        Continuar de onde parei
      </a>
      <a class="px-4 py-2 rounded-md border-2 text-dark bg-light border-light hover:bg-dark hover:text-light" href="/session?reset=true">
        Reiniciar sessão
      </a>
    </div>
    <footer class="fixed bottom-4 space-x-4 w-full text-center">
      <a class="underline" href="https://j0suetm.com">Josué Teodoro (J0sueTM) j0suetm.com</a>
      <a class="underline" href="https://github.com/J0sueTM/lpi4noobs-interactive/graphs/contributors">
        et. al.
      </a>
      <a class="underline" href="https://heartdevs.com/">He4rt Devs</a>
    </footer>
  </body>
</html>
